footer {
  padding-block: 24px;
  color: var(--text-color-secondary);
  display: flex;
  justify-content: space-between;

  font: 14px/150% var(--font-family);
}

footer > div {
  display: flex;
  gap: 16px;
}